/* Textarea styles */
#content {
    resize: none; /* Disable resize for consistency */
    height: 80px;
}

/* Textarea and file input styles */ 
#content,
input[type="file"] { 
    font-family: Calibri, sans-serif; 
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
} 

#postForm{
    display: flex;
    flex-direction: column; 
    /*justify-content: center;*/
    /*margin: 0 auto;
    gap: 10px;*/
}

.form-group {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 15px;
}

.form-group label {
    flex: 0;
    margin-right: 10px;
    width: 100px; /* To align labels uniformly */
}

button[type="submit"].btn {
    padding: 10px; /* General padding for all buttons */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */
    background-color: #1b5e8a;
    color: white;
    border-radius: 3px;
}